{% extends "layout.html" %}

{% block pageTitle %}
  Name
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({serviceName: "CMA RFI Prototype"}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./survey_list">Back</a>
      </li>
    </ol>
  </div>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Edit Name</h1>

      <div class="govuk-inset-text">
        This is a reference name used within the RFI management interface to help identify a particular template.
      </div>
      
      
      <div class="govuk-form-group">
        <input class="govuk-input" id="question" name="Question" type="text" value="Example Request for Information A">
      </div>

      <div class="govuk-body">
        <a class="govuk-button" href="./rfi_template_edit">Make changes</a>
        <a class="govuk-button govuk-button--secondary" href="./rfi_template_edit">Cancel</a>
      </div> 

    </div>

  </div>
{% endblock %}
