{% extends "layout.html" %}

{% block pageTitle %}
  Edit Survey
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({serviceName: "CMA RFI Prototype"}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./rfi_preview_3">Back</a>
      </li>
    </ol>
  </div>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-width-two-thirds">

      <h1 class="govuk-heading-xl">Evidence</h1>
      
      <div class="govuk-body">
        <p>Use the forum below to upload evidence.</p>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">File uploads</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Filename</th>
            <th scope="col" class="govuk-table__header">Size (Kb)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">example_photo.jpg</th>
            <td class="govuk-table__cell">223 Kb</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">another_example_photo.jpg</th>
            <td class="govuk-table__cell">1400 Kb</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
      </div>

      <div class="govuk-body">
        <a class="govuk-button" href="./rfi_preview_5">Continue</a>
      </div>  

    </div>

  </div>
{% endblock %}
