{% extends "layout.html" %}

{% block pageTitle %}
  Publish
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({serviceName: "CMA RFI Prototype"}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./rfi_template_list">Back</a>
      </li>
    </ol>
  </div>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">

          <h1 class="govuk-panel__title">
            Template Published
          </h1>
          <div class="govuk-panel__body">
            Reference<br><strong>RFI-00124</strong>
          </div>
        </div>
        <p class="govuk-body">Use the reference number within the request/response system to send requests using this template.</p>
      </div>

    </div>

  </div>
{% endblock %}
