{% extends "layout.html" %}

{% block pageTitle %}
  Mergers Surveys
{% endblock %}

{% block header %}
  {{ govukHeader({serviceName: "CMA RFI Prototype"}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./index">Home</a>
      </li>
    </ol>
  </div>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">RFI Requests</h1>
            
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Template</th>
            <th scope="col" class="govuk-table__header">Sent</th>
            <th scope="col" class="govuk-table__header">Responses</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">RFI-00123-0001</th>
            <th scope="row" class="govuk-table__header">Example RFI Request A</th>
            <td class="govuk-table__cell">25</td>
            <td class="govuk-table__cell"><a href="./rfi_responses">23</a></td>
            <td class="govuk-table__cell">Closed</td>
            <td class="govuk-table__cell"><a href="./rfi_preview_0">Preview</a></td>
          </tr>  
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">RFI-00122-0001</th>
            <th scope="row" class="govuk-table__header">Example RFI Request B</th>
            <td class="govuk-table__cell">18</td>
            <td class="govuk-table__cell"><a href="./rfi_responses">15</a></td>
            <td class="govuk-table__cell">Open</td>
            <td class="govuk-table__cell"><a href="./rfi_preview_0">Preview</a></td>
          </tr>
        </tbody>
      </table>



    </div>

  </div>
{% endblock %}
